bin/
bin_check/
bin_check2/
*.class
desktop.ini

ComputacaoGrafica2026-main/
ComputacaoGrafica2026-main.zip

11805_airplane_v2_L2.obj
Mig_29_obj.obj
Tu-95.obj
f104starfighter.obj
uploads_files_2787791_Mercedes+Benz+GLS+580.obj
